.advantages
	ul
		li
			.advantages-icon
				img(src="images/icons/ok.svg" alt="advantages")
			h3 Качественный товар
			p Собственные поставки напрямую от производителя
		li
			.advantages-icon
				img(src="images/icons/delivery.svg" alt="advantages")
			h3 Удобная доставка
			p Сделали заказ до 20.00? Доставим завтра
		li
			.advantages-icon
				img(src="images/icons/pocket.svg" alt="advantages")
			h3 Лучшая цена
			p Мы гарантируем лучшее соотношение цена и качества
		li
			.advantages-icon
				img(src="images/icons/clock.svg" alt="advantages")
			h3 Гарантия на товары
			p Обычная — 12 месяцев, расширенная — на 3 года
