.categories
	ul.categories-menu
		li.categories-top
			span.categories-icon
				img(src="images/icons/bike-1.svg" alt="category")
			a(href="#").categories-link Электросамокаты
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-top
			span.categories-icon
				img(src="images/icons/self-balancing-scooter.svg" alt="category")
			a(href="#").categories-link Гироскутеры
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-top
			span.categories-icon
				img(src="images/icons/scooter-1.svg" alt="category")
			a(href="#").categories-link Гироролики
		li.categories-top
			span.categories-icon
				img(src="images/icons/scooter-2.svg" alt="category")
			a(href="#").categories-link Сигвеи
		li
			span.categories-icon
				img(src="images/icons/microphone.svg" alt="category")
			a(href="#").categories-link Моноколеса
		li
			span.categories-icon
				img(src="images/icons/car.svg" alt="category")
			a(href="#").categories-link Детские Электромобили
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li
			span.categories-icon
				img(src="images/icons/bike-2.svg" alt="category")
			a(href="#").categories-link Электроскутеры <br>для дрифта
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li
			span.categories-icon
				img(src="images/icons/tools.svg" alt="category")
			a(href="#").categories-link Аксессуары
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-hidden
			span.categories-icon
				img(src="images/icons/geo.svg" alt="category")
			a(href="#").categories-link Производители
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-hidden
			span.categories-icon
				img(src="images/icons/car.svg" alt="category")
			a(href="#").categories-link Детские Электромобили
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-hidden
			span.categories-icon
				img(src="images/icons/bike-2.svg" alt="category")
			a(href="#").categories-link Электроскутеры <br>для дрифта
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-hidden
			span.categories-icon
				img(src="images/icons/tools.svg" alt="category")
			a(href="#").categories-link Аксессуары
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
		li.categories-hidden
			span.categories-icon
				img(src="images/icons/geo.svg" alt="category")
			a(href="#").categories-link Производители
			i.fa.fa-angle-right.categories-menu-handle
			ul.categories-submenu
				li.categories-submenu-item
					a(href="#") Eco Drive
				li.categories-submenu-item
					a(href="#") HX
				li.categories-submenu-item
					a(href="#") Kugoo
				li.categories-submenu-item
					a(href="#") Zaxboard
				li.categories-submenu-item
					a(href="#") Yamato
				li.categories-submenu-item
					a(href="#") Xiaomi
				li.categories-submenu-item
					a(href="#") Falcon
	button.btn.btn-blue.categories-handle
		span.btn-text Показать все
		span.btn-text Свернуть
