.certificates
	.wrapper-inner
		.section-header
			h2 Сертификаты
			.section-header-value 10
		.certificates-list.slider-arrows
			a(href="images/certificate.jpg" data-fancybox)
				img(src="images/certificate.jpg" alt="certificate")
				span Название сертификата
			a(href="images/certificate.jpg" data-fancybox)
				img(src="images/certificate.jpg" alt="certificate")
				span Название сертификата
			a(href="images/certificate.jpg" data-fancybox)
				img(src="images/certificate.jpg" alt="certificate")
				span Название сертификата
			a(href="images/certificate.jpg" data-fancybox)
				img(src="images/certificate.jpg" alt="certificate")
				span Название сертификата
			a(href="images/certificate.jpg" data-fancybox)
				img(src="images/certificate.jpg" alt="certificate")
				span Название сертификата
