.hero
	.hero-slide
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
		.hero-slide-column
			h2.hero-text 1 Гироскутер iBalance Prem Series 10.5
		.hero-slide-column
			span.hero-cost 14 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-slide-column
			h2.hero-text 2 Гироскутер iBalance Prem Series 10.5
		.hero-slide-column
			span.hero-cost 14 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
		.hero-slide-column
			h2.hero-text 3 Гироскутер iBalance Prem Series 10.5
		.hero-slide-column
			span.hero-cost 149 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-slide-column
			h2.hero-text 4 Гироскутер iBalance Prem Series 10.5
		.hero-slide-column
			span.hero-cost 1 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
		.hero-slide-column
			h2.hero-text 5 Гироскутер iBalance Prem Series 10.5
		.hero-slide-column
			span.hero-cost 14 90 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
