.hero
	.hero-slide
		.hero-slide-column
			h2.hero-title Гироскутер iBalance Prem Series 10.5
			p.hero-text Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей
		.hero-slide-column
			span.hero-cost 14 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
	.hero-slide
		.hero-slide-column
			h2.hero-title 2 Гироскутер iBalance Prem Series 10.5
			p.hero-text Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей
		.hero-slide-column
			span.hero-cost 14 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-slide-column
			h2.hero-title 3 Гироскутер iBalance Prem Series 10.5
			p.hero-text Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей
		.hero-slide-column
			span.hero-cost 149 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
	.hero-slide
		.hero-slide-column
			h2.hero-title 4 Гироскутер iBalance Prem Series 10.5
			p.hero-text Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей
		.hero-slide-column
			span.hero-cost 1 990 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
	.hero-slide
		.hero-slide-column
			h2.hero-title 5 Гироскутер iBalance Prem Series 10.5
			p.hero-text Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей
		.hero-slide-column
			span.hero-cost 14 90 руб.
			a(href="#").btn
				span.btn-text Подробнее о товаре
		.hero-image
			img(src="images/hero-gyroscooter.png" alt="gyroscooter")
