.product
	.wrapper-inner
		.product-header
			.section-header
				h2 Лидеры продаж
				.section-header-value 257
			.chooser
				.chooser-value Выбрать категорию
				ul
					li Электросамокаты
					li Гироскутеры
					li Сигвеи
					li Моноколеса
					li Аксессуары
		.product-list.slider-arrows
			.product-card
				a(href="#").product-card-image
					img(src="images/product-1.jpg" alt="product")
				h3
					a(href="#") Гироскутер iBalance Prem Series 10.5 Желтый граффити Самобаланс + Приложение
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 14 990 руб.
					.product-card-cost-old 17 000 руб.
					.product-card-cost-discount -27%
				ul.product-card-data
					li
						.product-card-data-property Диаметр колес
						.product-card-data-value 10,5’
					li
						.product-card-data-property Мощность
						.product-card-data-value 1200W (2х600)
					li
						.product-card-data-property Время зарядки
						.product-card-data-value 2-3 часа
					li
						.product-card-data-property Цвета
						.product-card-data-value
							ul.color-list
								li.color-list-black
								li.color-list-green
								li.color-list-orange
								li.color-list-grey
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-2.jpg" alt="product")
				h3
					a(href="#") Электромотоцикл RiverToys A001AA
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 12 550 руб.
					.product-card-cost-old 14 000 руб.
					.product-card-cost-discount -17%
				ul.product-card-data
					li
						.product-card-data-property Диаметр колес
						.product-card-data-value 10,5’
					li
						.product-card-data-property Мощность
						.product-card-data-value 1200W (2х600)
					li
						.product-card-data-property Время зарядки
						.product-card-data-value 2-3 часа
					li
						.product-card-data-property Цвета
						.product-card-data-value
							ul.color-list
								li.color-list-blue
								li.color-list-green
								li.color-list-brown
								li.color-list-crimson
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-3.jpg" alt="product")
				h3
					a(href="#") Электрические роликовые коньки Segway Drift W1 Silver
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 27 000 руб.
					.product-card-cost-old 54 000 руб.
					.product-card-cost-discount -50%
				ul.product-card-data
					li
						.product-card-data-property Диаметр колес
						.product-card-data-value 10,5’
					li
						.product-card-data-property Мощность
						.product-card-data-value 1200W (2х600)
					li
						.product-card-data-property Время зарядки
						.product-card-data-value 2-3 часа
					li
						.product-card-data-property Цвета
						.product-card-data-value
							ul.color-list
								li.color-list-green-dark
								li.color-list-crimson
								li.color-list-orange
								li.color-list-yellow
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-4.jpg" alt="product")
				h3
					a(href="#") Беговел Star One Scooter (Черно-Желтый)
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 10 500 руб.
					.product-card-cost-old 12 000 руб.
					.product-card-cost-discount -17%
				ul.product-card-data
					li
						.product-card-data-property Диаметр колес
						.product-card-data-value 10,5’
					li
						.product-card-data-property Мощность
						.product-card-data-value 1200W (2х600)
					li
						.product-card-data-property Время зарядки
						.product-card-data-value 2-3 часа
					li
						.product-card-data-property Цвета
						.product-card-data-value
							ul.color-list
								li.color-list-beige
								li.color-list-green
								li.color-list-crimson
								li.color-list-grey
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-3.jpg" alt="product")
				h3
					a(href="#") Электрические роликовые коньки Segway Drift W1 Silver
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 27 000 руб.
					.product-card-cost-old 54 000 руб.
					.product-card-cost-discount -50%
				ul.product-card-data
					li
						.product-card-data-property Диаметр колес
						.product-card-data-value 10,5’
					li
						.product-card-data-property Мощность
						.product-card-data-value 1200W (2х600)
					li
						.product-card-data-property Время зарядки
						.product-card-data-value 2-3 часа
					li
						.product-card-data-property Цвета
						.product-card-data-value
							ul.color-list
								li.color-list-green-dark
								li.color-list-crimson
								li.color-list-orange
								li.color-list-yellow
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
