.promo
	.wrapper-inner
		.promo-text
			h2.decorated Магазин гироскутеров и электросамокатов в Москве
			p Любой магазин гироскутеров предлагает различные модели, чтобы каждый потребитель мог подобрать оптимальный для себя вариант. Для людей, не предъявляющих высоких требований к качеству электротранспорта, выбор гироскутера не представляет особой проблемы. Но истинным ценителям качественного оборудования, от которого на сердце только радость, приходится особенно тщательно подходить к этому вопросу. Чтобы не ошибиться и приобрести именно такое оборудование, которое будет справляться со всеми поставленными задачами, нужно выбрать надёжный магазин.
		.promo-image
			img(src="images/promo.jpg" alt="some text")
		a(href="#").promo-link.link-decorated Подробнее о магазине
