.reviews
	.wrapper-inner
		.product-header
			.section-header
				h2 Отзывы покупателей
				.section-header-value 70
			a(href="#").product-header-link.link-decorated Все отзывы
		.reviews-list.slider-arrows
			.reviews-card
				.reviews-card-header
					.reviews-card-photo
						img(src="images/icon-user.png" alt="user")
					.reviews-card-name Степан
					.reviews-card-city (Москва)
					.rate
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
				p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять... <a href="#">Читать целиком</a>
				.reviews-card-footer
					time.date
						img(src="images/icons/calendar-grey.svg" alt="calendar")
						span 27.07.2018
					.reviews-card-value
						img(src="images/icons/plus-colored.svg" alt="plus")
						span 7
					.reviews-card-value
						img(src="images/icons/minus-colored.svg" alt="plus")
						span 1
			.reviews-card
				.reviews-card-header
					.reviews-card-photo
						img(src="images/icon-user.png" alt="user")
					.reviews-card-name Елена
					.reviews-card-city (Самара)
					.rate
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
				p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять... <a href="#">Читать целиком</a>
				.reviews-card-footer
					time.date
						img(src="images/icons/calendar-grey.svg" alt="calendar")
						span 27.07.2018
					.reviews-card-value
						img(src="images/icons/plus-colored.svg" alt="plus")
						span 7
					.reviews-card-value
						img(src="images/icons/minus-colored.svg" alt="plus")
						span 1
			.reviews-card
				.reviews-card-header
					.reviews-card-photo
						img(src="images/icon-user.png" alt="user")
					.reviews-card-name Степан
					.reviews-card-city (Москва)
					.rate
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
						i.fa.fa-star-o
				p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять... <a href="#">Читать целиком</a>
				.reviews-card-footer
					time.date
						img(src="images/icons/calendar-grey.svg" alt="calendar")
						span 27.07.2018
					.reviews-card-value
						img(src="images/icons/plus-colored.svg" alt="plus")
						span 7
					.reviews-card-value
						img(src="images/icons/minus-colored.svg" alt="plus")
						span 1
			.reviews-card
				.reviews-card-header
					.reviews-card-photo
						img(src="images/icon-user.png" alt="user")
					.reviews-card-name Елена
					.reviews-card-city (Самара)
					.rate
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
				p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять... <a href="#">Читать целиком</a>
				.reviews-card-footer
					time.date
						img(src="images/icons/calendar-grey.svg" alt="calendar")
						span 27.07.2018
					.reviews-card-value
						img(src="images/icons/plus-colored.svg" alt="plus")
						span 7
					.reviews-card-value
						img(src="images/icons/minus-colored.svg" alt="plus")
						span 1
			.reviews-card
				.reviews-card-header
					.reviews-card-photo
						img(src="images/icon-user.png" alt="user")
					.reviews-card-name Степан
					.reviews-card-city (Москва)
					.rate
						i.fa.fa-star
						i.fa.fa-star
						i.fa.fa-star-o
						i.fa.fa-star-o
						i.fa.fa-star-o
				p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять... <a href="#">Читать целиком</a>
				.reviews-card-footer
					time.date
						img(src="images/icons/calendar-grey.svg" alt="calendar")
						span 27.07.2018
					.reviews-card-value
						img(src="images/icons/plus-colored.svg" alt="plus")
						span 7
					.reviews-card-value
						img(src="images/icons/minus-colored.svg" alt="plus")
						span 1
