.breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 0 20px;

  &-socials {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 20px;
    border-top: 1px solid #e5e8e8;
    border-bottom: 1px solid #e5e8e8;
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 15px;
    list-style: none;
  }

  &-item {
    font-size: 14px;
    line-height: 22px;

    a {
      display: flex;
      align-items: center;
      color: #66696a;
      text-decoration: none;

      &:after {
        content: '';
        margin: 0 5px;
        width: 0;
        height: 0;
        border-left: 4px solid $color-blue;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        position: relative;
        top: 1px;
      }

    }

  }

  @include more-768 {
    width: calc(100% + 60px);
    margin: 0 -30px 20px;
    padding: 0 30px 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #e5e8e8;

    &-list {
      padding: 0;
    }

    &-socials {
      width: auto;
      margin: 0;
      padding: 0;
      border-top: none;
      border-bottom: none;
      flex-shrink: 0;
    }

  }

  @include more-1200 {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 15px;
  }

}
