.categories {
  background: #f4f4f4;

  & > ul {
    list-style: none;

    & > li {
      display: none;
      align-items: center;
      padding: 10px 15px 10px 0;
      position: relative;

      &.categories-top {
        display: flex;
      }

      &:first-of-type {
        margin: 0;
      }

      &.categories-hidden {
        display: none;
      }

      i {
        align-self: center;
      }

    }

  }

  &-submenu {
    display: none;

    & + a {

      &:before {
        content: '\f105';
        display: block;
        height: 22px;
        font-family: FontAwesome, sans-serif;
        font-size: 22px;
        line-height: 22px;
        color: $color-green-text;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

    }

  }

  &-handle {
    display: none;
  }

  &-icon {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 15px 0 0;
    flex-shrink: 0;

    img {
      max-height: 100%;
    }

  }

  &-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    flex-grow: 1;
    position: relative;
  }

  &-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px -20px 0;
    padding: 15px 20px;
    background: #e0e2e3;
    text-decoration: none;

    &-text {
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-black;
    }

    &-value {
      padding: 0 7px;
      background: $color-blue;
      border-radius: 0 10px 10px 10px;
      font-size: 11px;
      line-height: 20px;
      font-weight: 600;
      color: $color-white;
    }

  }

  @include more-1200 {
    display: block!important;
    border-radius: $br;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    &:hover {
      @include shadow;
    }

    & > ul {
      padding: 15px 0;

      & > li {
        display: flex;
        align-items: stretch;
        padding: 10px 30px;
        transition: .3s;

        i {
          height: 24px;
          color: $color-green;
          font-size: 20px;
          line-height: 24px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
        }

        &:first-of-type {

          .categories-link:after {
            display: none;
          }

        }

        &:hover {
          background: $color-blue;

          .categories-link {
            color: $color-white;

            &:after {
              display: none;
            }

          }

          & + li {

            .categories-link:after {
              display: none;
            }

          }

          i {
            color: $color-white;
          }

          .categories-submenu {
            display: block;
            list-style: none;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 1;

            li {
              border-top: 1px solid $color-white;

              &:first-of-type {
                border-top: none;
                border-left: 1px solid $color-white;
              }

              a {
                display: flex;
                width: 150px;
                min-height: 56px;
                align-items: center;
                padding: 10px 20px;
                background: $color-blue;
                font-size: 15px;
                line-height: 22px;
                font-weight: 600;
                color: $color-white;
                text-decoration: none;

                &:hover {
                  color: $color-white;
                  background: $color-green;
                }

              }

            }

          }

        }

      }

    }

    &-link {
      display: flex;
      align-items: center;
      @include dashed-transparency;
      font-size: 13px;
      line-height: 22px;

      &:after {
        margin: 0;
        position: absolute;
        left: 0;
        top: -10px;
      }

    }

    &-handle {
      display: block;
      margin: 0 auto 20px;

      .btn-text {

         &:first-of-type {
           display: block;
         }

         &:last-of-type {
           display: none;
         }

       }

    }

    &-all {
      display: none;
    }

    &.dropped-down {

      .categories-handle {

        .btn-text {

          &:first-of-type {
            display: none;
          }

          &:last-of-type {
            display: block;
          }

        }

      }

      .categories-hidden {
        display: flex;
      }

    }

  }

}
