.footer {
  margin: 30px 0 0;
  color: $color-white;

  &-top {
    padding: 30px 0;
    background: $color-brown;

    .yandex {
      width: 150px;
      margin: 0 auto;
    }

  }

  &-logo {
    display: none;
  }

  &-copyrights {
    text-align: center;

    p {
      margin: 0 0 15px;
      font-size: 15px;
      line-height: 23px;

      &:last-of-type {
        padding: 0 20px;
      }

      strong {
        font-weight: 600;
      }

      a {
        color: $color-green-text;
      }

    }

  }

  &-subscribe {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;

    label {
      width: 100%;
      margin: 0 0 15px;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      text-transform: uppercase;
    }

    input {
      width: calc(100% - 62px);
      height: 46px;
      padding: 0 20px;
      border-radius: $br 0 0 $br;
      border: none;
      line-height: 46px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 46px;
      background: $color-blue;
      border: none;
      border-radius: 0 $br $br 0;
      flex-shrink: 0;

      img {
        width: 38px;
      }

    }

  }

  &-social {
    margin: 30px 0;

    &-text {
      display: block;
      margin: 0 0 10px;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        margin: 0 8px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        border: 1px solid #51b0df;
        border-radius: 50%;
        font-size: 22px;
        text-decoration: none;
        color: #bac5c7;
      }

    }

  }

  &-bottom {
    padding: 30px 0;
    background: $color-dark;

    .btn {
      width: 222px;
      margin: 0 auto;
    }

  }

  &-nav {
    margin: 20px 0 15px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      flex-wrap: wrap;
      list-style: none;

      li {
        margin: 0 10px;

        a {
          font-size: 14px;
          line-height: 25px;
          font-weight: 600;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;

          &.active {
            color: $color-green-text;
          }

        }

      }

    }

  }

  &-promo {

    p {
      margin: 15px 0 0;
      font-size: 15px;
      line-height: 27px;
      color: #c1cbd2;
    }

  }

  .address-hours {

    a {
      @include link-dashed(#51b0df, $color-white);
    }

  }

  @include more-768 {

    &-top {

      .wrapper-inner {
        display: flex;
        justify-content: space-between;
      }

      .footer-column {

        &:first-of-type {
          width: 300px;
        }

        &:last-of-type {
          width: 280px;
        }

      }

    }

    &-copyrights {
      text-align: left;

      p {

        &:last-of-type {
          padding: 0 40px 0 0;
        }

      }

    }

    .contacts {
      margin: 25px 0;
    }

    .address-hours {
      text-align: left;
    }

    &-subscribe {
      margin: 0;

      label {
        text-align: left;

        br {
          display: none;
        }

      }

    }

    &-social {

      &-text {
        text-align: left;
      }

      ul {
        justify-content: flex-start;

        li {
          margin: 0 16px 0 0;

          &:last-of-type {
            margin: 0;
          }

        }

      }

    }

    .yandex {
      margin: 0;
    }

    &-bottom {

      .wrapper-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
      }

    }

    &-nav {
      width: 420px;
      margin: 0;
      position: relative;
      top: -5px;

      ul {
        justify-content: flex-end;

        li {
          margin: 0 0 0 20px;
          line-height: 25px;

          &:last-of-type {
            margin: 0;
          }

        }

      }

    }

  }

  @include more-1200 {
    margin: 50px 0 0;

    &-top {

      .footer-column {

        &:first-of-type {
          width: calc(100% - 450px);
        }

        &:last-of-type {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          align-content: space-between;
          flex-wrap: wrap;
          width: 420px;
        }

      }

    }

    &-copyrights {

      p {

        &:last-of-type {
          width: 400px;
          padding: 0;
        }

        a:hover {
          text-decoration: none;
          color: #bac5c7;
        }

      }

    }

    &-social {
      margin: 0;

      ul {

        a:hover {
          color: $color-white;
          background-color: #51b0df;
        }

      }

    }

    &-bottom {

      .wrapper-inner {
        align-items: center;
      }

      .footer-column:nth-of-type(2) {
        flex-grow: 1;
      }

    }

    &-nav {
      width: 100%;
      padding: 0 0 0 100px;

      ul li:last-of-type {
        margin: 0 0 0 20px;
      }

      a:hover {
        color: #bac5c7;

        &.active:hover {
          color: #2ba3de;
        }

      }

    }

    .contacts {

      &-social li:hover {

        .contacts-social-icon {

          &.icon-viber {
            background: url(../images/icon-viber-hover-footer.png) no-repeat center center;
          }

          &.icon-whatsapp {
            background: url(../images/icon-whatsapp-hover-footer.png) no-repeat center center;
          }

          &.icon-telegram {
            background: url(../images/icon-telegram-hover-footer.png) no-repeat center center;
          }

        }

        a {
          color: $color-white;
          text-decoration: none;
        }

      }

    }

    &-subscribe {

      button:hover {
        background-color: #3cb464;
      }

    }

  }

}
