.header {

  &-top {
    width: 100%;
    background: #f4f4f4;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;

    .wrapper-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding: 0 20px 0 0;
    }

  }

  &-nav {
    width: 100%;
    height: calc(100vh - 64px);
    padding: 0 20px 20px;
    background: $color-dark;
    overflow: auto;
    position: fixed;
    top: 64px;
    right: 100%;
    transition: .2s;

    .header.menu-opened & {
      right: 0
    }

    .address-hours {
      margin: 10px 0 0;
    }

  }

  &-menu {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 25px;
    background: $color-brown;
    list-style: none;

    &-link {
      font-size: 14px;
      line-height: 27px;
      font-weight: 600;
      color: $color-blue;
      text-decoration: none;
      text-transform: uppercase;
    }

  }

  &-submenu {
    padding: 0 15px 5px;
    list-style: none;

    &-link {
      font-size: 14px;
      line-height: 27px;
      font-weight: 600;
      color: $color-white;
      text-decoration: none;
    }

  }

  &-burger {
    width: 78px;
    height: 64px;
    flex-shrink: 0;
    background: url(../images/burger-closed.png) no-repeat center center;

    .header.menu-opened & {
      background: $color-brown url(../images/burger-opened.png) no-repeat center center;
    }

  }

  &-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px 0 0;
    flex-grow: 1;

    input {
      width: 0;
      height: 46px;
      margin: 0 10px 0 0;
      line-height: 46px;
      border: none;
      border-radius: $br;
      transition: .2s;
    }

    button {
      width: 32px;
      background: none;
      border: none;
      flex-shrink: 0;
    }

    &.active {

      input {
        width: 100%;
        padding: 0 10px;
        @include shadow;
      }

      button {
        width: 32px;
        background: none;
        border: none;
        flex-shrink: 0;
      }

    }

  }

  &-cart {
    flex-shrink: 0;
    position: relative;

    &-value {
      padding: 0 5px;
      background: $color-blue;
      border-radius: 0 11px 11px 11px;
      font-size: 11px;
      line-height: 22px;
      font-weight: 600;
      color: $color-white;
      position: absolute;
      top: 0;
      left: -15px;
    }

    &-icon {
      display: block;
      width: 32px;
    }

    &-text {
      display: none;
    }

  }

  &-bottom {
    padding: 25px 0;
    background: $color-white;

    .btn {
      max-width: 222px;
      margin: 12px auto 0;
    }

    .contacts {
      color: $color-black;

      &-phone {
        color: $color-black;
      }

    }

  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-text {
      font-size: 14px;
      line-height: 22px;
    }

  }

  .address-hours {

    a {
      @include link-dashed(#51b0df, $color-black);
    }

  }

  @include more-768 {

    &-bottom {

      .wrapper-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

    }

    .contacts {

      &-social {

        a {
          color: $color-blue-text;
        }

      }

    }

  }

  @include more-1200 {

    &-bottom {
      padding: 40px 0 30px;

      .wrapper-inner {
        flex-wrap: wrap;
        padding: 0 15px 0 300px;
      }

      &-column {
        position: absolute;
        left: 15px;
        top: 0;
      }

    }

    &-logo-icon {
      margin: 0 0 5px;
    }

    &-search {
      width: 100%;
      margin: 0 0 30px;
      padding: 0 20px;
      background: linear-gradient(to bottom, $color-white 10%, #f8f8f8);
      border-radius: $br;
      border: 1px solid transparent;
      border-top-color: $color-white;
      border-bottom-color: #f8f8f8;
      @include shadow;

      input {
        width: 100%;
        background: transparent;
      }

      &:hover {
        box-shadow: none;
        border: 1px solid #bac5c7;
      }

    }

    .contacts,
    .address-hours {
      padding: 0 0 0 55px;
      position: relative;

      &-icon {
        display: block;
        width: 38px;
        height: 38px;
        background: #f1f1f1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;

        img {
          width: 32px;
          position: absolute;
          left: 8px;
          top: 12px;
        }

      }

    }

    .address-hours {
      width: 280px;
      text-align: left;
      color: $color-black;
      line-height: 24px;

      &-icon {

        img {
          top: 6px;
        }

      }

      a {
        color: $color-blue-text;

        &:after {
          display: none;
        }

      }

    }

    &-burger {
      display: none;
    }

    &-nav {
      width: auto;
      height: auto;
      flex-grow: 1;
      padding: 0 40px 0 0;
      background: none;
      position: static;
      overflow: visible;
    }

    &-menu {
      display: flex;
      width: auto;
      margin: 0;
      padding: 0;
      background: none;

      &-item {
        margin: 0 15px 0 0;

        &:last-of-type {
          margin: 0;
        }

        &.has-children {
          padding: 0 12px 0 0;
          position: relative;

          &:before,
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            position: absolute;
            right: 0;
          }

          &:before {
            border-bottom: 4px solid $color-blue;
            top: calc(50% - 4px);
          }

          &:after {
            border-top: 4px solid $color-blue;
            bottom: calc(50% - 7px);
          }

        }

        &:hover {

          &:before {
            border-bottom: 4px solid $color-hover;
          }

          &:after {
            border-top: 4px solid $color-hover;
          }

          .header-menu-link {
            color: $color-hover;
          }

          .header-submenu {
            display: block;
            width: 200px;
            background: $color-blue;
            border-radius: $br;
            padding: 15px 30px;
            position: absolute;
            left: 0;
            top: 100%;

            &:after {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid $color-blue;
              position: absolute;
              bottom: 100%;
              left: 15px;
            }

            &-item {
              margin: 10px 0;
              line-height: 20px;
            }

            &-link {
              font-size: 15px;
              line-height: 20px;
              font-weight: 400;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }

            }

          }

        }

      }

      &-link {
        color: $color-black;
      }

    }

    &-submenu {
      display: none;
    }

    &-cart {
      display: flex;
      align-items: center;
      text-decoration: none;

      &-text {
        display: block;
        margin: 0 0 0 10px;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-black;
      }

      &:hover {

        .header-cart-value {
          background: $color-green;
        }

        .header-cart-text {
          color: $color-hover;
        }

      }

    }

    .contacts {

      &-social li:hover {

        .contacts-social-icon {

          &.icon-viber {
            background: url(../images/icon-viber-hover-header.png) no-repeat center center;
          }

          &.icon-whatsapp {
            background: url(../images/icon-whatsapp-hover-header.png) no-repeat center center;
          }

          &.icon-telegram {
            background: url(../images/icon-telegram-hover-header.png) no-repeat center center;
          }

        }

        a {
          color: $color-black;
          text-decoration: none;
        }

      }

    }

  }

}
