.modal {
  display: none;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 60px 0 20px;
  background: rgba(0, 0, 0, .57);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;

  &-inner {
    display: block;
    width: 100%;
    border-radius: $br;
    position: relative;
  }

  &-close {
    width: 40px;
    height: 40px;
    background: $color-green-text;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin: auto;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 60%;
      height: 2px;
      background: $color-white;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform-origin: center center;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

  }

  .modal-form {
    max-width: 740px;
    background-color: $color-white;

    .modal-close {
      top: 0;
      right: 25px;
      bottom: 0;
      left: auto;
      background: none;

      &:before,
      &:after {
        background: #bec1c2;
      }

    }

    .modal-header {
      padding: 25px 50px 25px 25px;
      background-color: #f4f4f4;
      position: relative;

      h3 {
        font-family: $font-title;
        color: #3c3c3c;
        text-align: left;
      }

      span {
        color: #3c3c3c;
      }

      @include more-768 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 100px 40px 40px;

        h3 {
          font-size: 30px;
          line-height: 35px;
        }

        span {
          font-size: 14px;
          line-height: 22px;
        }

      }

    }

    .modal-body {
      padding: 20px 25px 10px;

      @include more-768 {
        padding: 30px 40px 20px;
      }

    }

    .modal-footer {
      padding: 25px;
      border-top: 1px solid #e5e8e8;

      .btn {
        margin: 0 auto 20px;

        &:last-of-type {
          margin: 0 auto;
        }

      }

      @include more-768 {
        display: flex;
        justify-content: space-between;
        padding: 40px;

        .btn {
          margin: 0;

          &:last-of-type {
            margin: 0;
          }

        }

      }

    }

    .field-label {
      margin: 0;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      font-weight: 600;

      span {
        color: #c11b1b;
      }

    }

    .field-input {
      height: 50px;
      line-height: 50px;
      margin: 10px 0 20px;
      background: linear-gradient(to bottom, #fff, #f8f8f8);
      border-radius: 6px;
      box-shadow: 0 0 10px 0 #cdcdcd;
    }

    textarea.field-input {
      height: 110px;
      line-height: 22px;
    }

    @include more-768 {

      .form-row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        fieldset {
          width: calc(50% - 15px);
        }

      }

      .field-input {
        margin: 10px 0 30px;
        padding: 0 20px;
      }

      textarea.field-input {
        padding: 15px 20px;
      }

    }

  }

}