.reviews {
  padding: 0 0 10px;

  &-section {

    .product-header {
      width: 100%;
      margin: 0 0 20px;
      text-align: center;

      h2 {
        text-align: left;
      }

      &-link {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: $color-black;
        text-transform: uppercase;
      }

    }

  }

  &-slider {

    .slick-arrow {
      top: -50px;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }

    }

  }

  &-card {
    padding: 10px 0 0;

    &-header {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 0 60px;
      position: relative;
      font-size: 17px;
      line-height: 24px;

      .rate {
        width: 100%;
        margin: 5px 0 0;
        text-align: left;
      }

    }

    &-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &-name {
      margin: 0 10px 0 0;
      font-weight: 600;
    }

    &-city {
      color: #b7b8b8;
    }

    p {
      font-size: 15px;
      line-height: 26px;

      a {
        font-weight: 600;
        color: $color-blue-text;
      }

    }

    &-footer {
      display: flex;
      align-items: center;
    }

    &-value {
      display: flex;
      margin: 0 0 0 15px;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 21px;

      img {
        width: 21px;
        height: 21px;
        margin: 0 5px 0 0;
        flex-shrink: 0;
      }

    }

  }

  .page-header {

    .filter-pags {
      width: calc(100% + 20px);
      margin: 0 -10px;
    }

  }

  &-header {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  &-rate {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
    list-style: none;

    strong {
      display: block;
      margin: 15px 0 0;
      font-size: 30px;
      line-height: 36px;
      font-family: $font-title;
      color: #3c3c3c;
    }

    span {
      font-size: 15px;
      line-height: 25px;
      color: #75848c;
      text-transform: uppercase;
    }

    .slick-arrow {
      top: 0;
      bottom: 0;
      margin: auto;

      &.slick-prev {
        left: 20px;
      }

      &.slick-next {
        right: 20px;
      }

    }

  }

  &-result {
    padding: 20px;
    background: #f9f9f9;

    &-title {
      margin: 0 0 15px;
      font-family: $font-title;
      font-size: 22px;
      line-height: 30px;
      font-weight: 700;
      text-align: center;
    }

    &-percent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 240px;
      margin: 0 auto;

      &-value {
        width: 100%;
        height: 10px;
        margin: 0 0 5px;
        background: #d5dcde;
        border-radius: 5px;
        overflow: hidden;
      }

      &-color {
        height: 10px;
        background: $color-blue-text;
      }

      &:last-of-type {
        margin: 15px auto 0;

        .reviews-result-percent-color {
          background: #c11b1b;
        }

      }

      span {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
      }

    }

  }

  .reviews-card {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding: 20px;
    border-bottom: 1px solid #e5e8e8;

    &-header {
      padding: 0 0 0 65px;
    }

    &-photo {
      bottom: auto;
    }

    .date {
      margin: 5px 0;
    }

    p {

      .all-text {
        display: none;
      }

      .show-all {
        font-size: 15px;
        line-height: 26px;
        color: $color-blue-text;
        font-weight: 600;
        text-decoration: underline;
      }

    }

    &-footer {
      display: block;

      &-item {
        margin: 0 0 15px;
        padding: 0 0 0 30px;
        font-size: 14px;
        line-height: 18px;
        position: relative;

        &:last-of-type {
          margin: 0;
        }

        img {
          width: 20px;
          position: absolute;
          left: 0;
          top: 0;
        }

        span:after {
          content: ', ';
        }

        span:last-of-type:after {
          display: none;
        }

      }

    }

  }

  @include more-768 {

    &-section {

      .product-header {
        margin: 0;

        .section-header {
          margin: 0;
        }

        &-link {
          margin: 5px 130px 0 0;
        }

      }

    }

    &-slider {

      .slick-arrow {
        top: -22px;

        &.slick-prev {
          left: auto;
          right: 60px;
        }

        &.slick-next {
          right: 0;
        }

      }

    }

    &-card {
      margin: 15px 0;

      &-header {
        padding: 0;
        align-items: center;
        flex-wrap: nowrap;

        .rate {
          margin: 0 0 0 15px;
        }

      }

      &-photo {
        flex-shrink: 0;
        margin: 0 15px 0 0;
        position: static;
      }

    }

    .page-header {

      .filter-pags {
        width: auto;
        margin: 0;
      }

    }

    &-header {
      display: flex;
      width: calc(100% + 60px);
      margin: 0 -30px;
    }

    &-rate {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      li {
        margin: 10px 0;
        padding: 0 30px 0 0;
        text-align: left;
      }

    }

    &-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 300px;
      padding: 30px;
      flex-shrink: 0;
    }

    .reviews-card {
      width: calc(100% + 60px);
      margin: 0 -30px;
      padding: 30px;

      &-header {
        padding: 0;

        .date {
          margin: 0 20px;
        }

      }

      p {

        .show-all,
        .dots {
          display: none;
        }

        .all-text {
          display: inline;
        }

      }

    }

    &-list {
      margin: 0 0 20px;
    }

  }

  @include more-1200 {

    &-section {

      .product-header {

        &-link:hover {
          color: $color-blue-text;
        }

      }

    }

    &-card {

      p {

        a:hover {
          color: $color-black;
        }

      }

    }

    &-header {
      width: 100%;
      margin: 0;
    }

    &-rate {
      align-items: center;
      padding: 40px 50px;

      li {
        margin: 0;
        padding: 0 40px 0 0;
      }

    }

    .reviews-card {
      width: 100%;
      margin: 0;
      padding: 30px 0;
    }

  }

}
