h1 Блог
.page-header
	.chooser
		.chooser-text Сортировка:
		.chooser-value по популярности
		ul
			li по имени
			li по стоимости
			li по дате добавления
			li по цвету
			li по размеру
	.filter-pags
		span.filter-pags-text Статей на странице:
		ul.filter-pags-list
			li 12
			li 30
			li все
.blog-list
	.blog-card
		.blog-card-image
			img(src="images/blog-1.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-2.jpg" alt="blog article description")
		h3
			a(href="#") Гироскутер стал более устойчив, хватает всего нескольких минут на обучение
		p На вашем гаджете должно быть установлено приложение ТаоТао, а также включен Bluetooth. Зайдя в приложение...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image
			img(src="images/blog-3.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-1.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image
			img(src="images/blog-2.jpg" alt="blog article description")
		h3
			a(href="#") Гироскутер стал более устойчив, хватает всего нескольких минут на обучение
		p На вашем гаджете должно быть установлено приложение ТаоТао, а также включен Bluetooth. Зайдя в приложение...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-3.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image
			img(src="images/blog-1.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-2.jpg" alt="blog article description")
		h3
			a(href="#") Гироскутер стал более устойчив, хватает всего нескольких минут на обучение
		p На вашем гаджете должно быть установлено приложение ТаоТао, а также включен Bluetooth. Зайдя в приложение...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image
			img(src="images/blog-3.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-1.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image
			img(src="images/blog-2.jpg" alt="blog article description")
		h3
			a(href="#") Гироскутер стал более устойчив, хватает всего нескольких минут на обучение
		p На вашем гаджете должно быть установлено приложение ТаоТао, а также включен Bluetooth. Зайдя в приложение...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
	.blog-card
		.blog-card-image.with-video
			img(src="images/blog-3.jpg" alt="blog article description")
		h3
			a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
		p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города и бездорожья. Диаметр колеса составляет 10.5 дюймов...
		time.date
			img(src="images/icons/calendar-grey.svg" alt="calendar")
			span 27.07.2018
.pagination
	.pagination-text
	ul
		li
			a(href="#") 1
		li
			a(href="#") 2
		li
			a(href="#") 3
		li
			a(href="#") 4
		li
			a(href="#") 5
		li
			a(href="#") 6
		li
			span 7
		li
			a(href="#") 8
		li
			a(href="#") 9
		li
			a(href="#") 10
