.cart
  h1 Корзина
  .cart-card(data-removable)
    .cart-card-image
      img(src="images/product-1.jpg" alt="product")
    .cart-card-data
      h3
        a(href="#") Беговел Star One Scooter (Черно-Желтый)
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
      .cart-card-cost 12 550 руб.
      .cart-card-data-footer
        span.color-text Цвет:
        ul.color-list
          li.color-green-dark.active
        .cart-card-present Подарок: bluetooth-колонка
    .cart-card-footer
      .amount-chooser(data-cost="12550")
        span.amount-chooser-label Количество
        .amount-chooser-body
          .amount-chooser-control.amount-chooser-minus
          input(type="text" value="1")
          .amount-chooser-control.amount-chooser-plus
      .card-cost
        .card-cost-label Стоимость
        .card-cost-value 12550 руб.
    .cart-card-close(data-removable-close)
  .cart-card(data-removable)
    .cart-card-image
      img(src="images/product-4.jpg" alt="product")
    .cart-card-data
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
      .cart-card-cost 7 000 руб.
      .cart-card-data-footer
        span.color-text Цвет:
        ul.color-list
          li.color-crimson.active
        .cart-card-present Подарок: bluetooth-колонка
    .cart-card-footer
      .amount-chooser(data-cost="7000")
        span.amount-chooser-label Количество
        .amount-chooser-body
          .amount-chooser-control.amount-chooser-minus
          input(type="text" value="1")
          .amount-chooser-control.amount-chooser-plus
      .card-cost
        .card-cost-label Стоимость
        .card-cost-value 7000 руб.
    .cart-card-close(data-removable-close)
  .cart-card(data-removable)
    .cart-card-image
      img(src="images/product-1.jpg" alt="product")
    .cart-card-data
      h3
        a(href="#") Беговел Star One Scooter (Черно-Желтый)
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
      .cart-card-cost 12 550 руб.
      .cart-card-data-footer
        span.color-text Цвет:
        ul.color-list
          li.color-orange.active
        .cart-card-present Подарок: bluetooth-колонка
    .cart-card-footer
      .amount-chooser(data-cost="12550")
        span.amount-chooser-label Количество
        .amount-chooser-body
          .amount-chooser-control.amount-chooser-minus
          input(type="text" value="1")
          .amount-chooser-control.amount-chooser-plus
      .card-cost
        .card-cost-label Стоимость
        .card-cost-value 12550 руб.
    .cart-card-close(data-removable-close)
  .cart-card(data-removable)
    .cart-card-image
      img(src="images/product-4.jpg" alt="product")
    .cart-card-data
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
      .cart-card-cost 7000 руб.
      .cart-card-data-footer
        span.color-text Цвет:
        ul.color-list
          li.color-yellow.active
        .cart-card-present Подарок: bluetooth-колонка
    .cart-card-footer
      .amount-chooser(data-cost="7000")
        span.amount-chooser-label Количество
        .amount-chooser-body
          .amount-chooser-control.amount-chooser-minus
          input(type="text" value="1")
          .amount-chooser-control.amount-chooser-plus
      .card-cost
        .card-cost-label Стоимость
        .card-cost-value 7 000 руб.
    .cart-card-close(data-removable-close)
  .cart-result
    .cart-result-cost Итого: 57 000 руб.
    .btn
      span.btn-text Оформить заказ
