article
  h1 Как выбрать гироскутер (h1)
  p О том, почему цена на одни гироскутеры начинается с 6 000 рублей, а за другие продавцы просят в 5 раз больше, на что обратить внимание при покупке и как выбрать качественную модель. До покупки необходимо определиться, где именно вы планируете кататься на гироскутере: будете ли вы его использовать, чтобы добраться до остановки общественного транспорта, или кататься в парке, или использовать в закрытых помещениях. Оцените расстояние, которое планируете преодолевать, и качество поверхности.
  h2 Где именно вы планируете кататься на гироскутере (h2)
  .article-image
    img(src="images/article.jpg" alt="article")
  p Без подзарядки гироскутеры могут преодолевать расстояния от 10 до 40 км. Большинство моделей проедут 20–25 км за 1,5–2 часа. Неровности или наличие уклона дороги уменьшают эти показатели. К сожалению, большинство моделей не предназначено для катания в сырую погоду. При покупке гироскутера не стоит гнаться за максимально дешёвой моделью, так как во многом цена определяет, какие именно компоненты использованы в устройстве: оригинальные или сомнительного качества. Производить гироскутеры может как небольшая фабрика кустарным способом, так и крупный завод. Чтобы отличить именно заводскую сборку, придётся присмотреться к деталям. Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет.
  h3 Марка значения не имеет (h3)
  p Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет. Названия Smart Balance, Crossway, Cactus, iBalance и многие другие не закреплены за конкретной фабрикой. На одном и том же заводе могут собираться разные модели, либо заказ на производство конкретной марки может быть раскидан по разным фабрикам. Поэтому цены и качество изготовления даже одной конкретной модели могут сильно отличаться.
  ul
    li Если при выборе велосипеда, роликов
    li Самоката мы можем ориентироваться
    li На производителя и конкретные марки
  ol
    li Если при выборе велосипеда, роликов
    li Самоката мы можем ориентироваться
    li На производителя и конкретные марки
  h4 Наличие сертификата и гарантийного обслуживания (h4)
  blockquote Ответственный продавец распространяет гироскутеры, прошедшие проверку и имеющие сертификат соответствия — certificate of conformity. Помимо чека, вам должны выдать книжечку сервисного центра, куда вы можете обратиться в случае поломки. Ответственный продавец распространяет гироскутеры, прошедшие проверку и имеющие сертификат соответствия.
  p Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет. Названия Smart Balance, Crossway, Cactus, iBalance и многие другие не закреплены за конкретной фабрикой. На одном и том же заводе могут собираться разные модели, либо заказ на производство конкретной марки может быть раскидан по разным фабрикам. Поэтому цены и качество изготовления даже одной конкретной модели могут сильно отличаться.
  .article-table
    table
      tr
        th Заголовок 1
        th Заголовок 2
        th Заголовок 3
      tr
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет
      tr
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет
      tr
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет
      tr
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя
        td Если при выборе велосипеда, роликов или самоката мы можем ориентироваться на производителя и конкретные марки, в отношении гироскутеров название модели значения не имеет
  p О том, почему цена на одни гироскутеры начинается с 6 000 рублей, а за другие продавцы просят в 5 раз больше, на что обратить внимание при покупке и как выбрать качественную модель. До покупки необходимо определиться, где именно вы планируете кататься на гироскутере: будете ли вы его использовать, чтобы добраться до остановки общественного транспорта, или кататься в парке, или использовать в закрытых помещениях. Оцените расстояние, которое планируете преодолевать, и качество поверхности.