.reviews
  h1 Отзывы о магазине
  .page-header
    .chooser
      .chooser-text Сортировка:
      .chooser-value по дате
      ul
        li по имени
        li по стоимости
        li по дате добавления
        li по цвету
        li по размеру
    .filter-pags
      span.filter-pags-text Отзывов на странице:
      ul.filter-pags-list
        li.active 12
        li 30
        li все
    button.btn.btn-blue(data-call-modal="add-comment")
      span.btn-text Добавить отзыв
  .reviews-header
    ul.reviews-rate
      li
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        strong 50%
        span 27 отзывов
      li
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
        strong 20%
        span 10 отзывов
      li
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
          i.fa.fa-star-o
        strong 10%
        span 53 отзыва
      li
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o
        strong 15%
        span 50 отзывов
      li
        .rate
          i.fa.fa-star
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o
        strong 5%
        span 3 отзыва
    .reviews-result
      .reviews-result-title Отзывов: 243
      .reviews-result-percent(data-result-percent="70")
        .reviews-result-percent-value
        span Плюсов
        span 577
      .reviews-result-percent(data-result-percent="30")
        .reviews-result-percent-value
        span Минусов
        span 27
  .reviews-list
    .reviews-card
      .reviews-card-header
        .reviews-card-photo
          img(src="images/icon-user.png" alt="user")
        .reviews-card-name Степан
        .reviews-card-city (Геленджик)
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
      p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять<span class="dots">... </span><span class="all-text">. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять.</span><span class="show-all">Читать целиком</a>
      .reviews-card-footer
        .reviews-card-footer-item
          img(src="images/icons/plus-colored.svg" alt="plus")
          span Круглосуточная техническая подержка
          span вежливый персонал
          span быстрая доставка
          span низкие цены
          span подарки покупателям
        .reviews-card-footer-item
          img(src="images/icons/minus-colored.svg" alt="plus")
          span Небольшой ассортимент электросамокатов
          span нет возможности оплатить через Webmoney
    .reviews-card
      .reviews-card-header
        .reviews-card-photo
          img(src="images/icon-user.png" alt="user")
        .reviews-card-name Степан
        .reviews-card-city (Санкт-петербург)
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
      p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять<span class="dots">... </span><span class="all-text">. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять.</span><span class="show-all">Читать целиком</a>
      .reviews-card-footer
        .reviews-card-footer-item
          img(src="images/icons/plus-colored.svg" alt="plus")
          span Круглосуточная техническая подержка
          span вежливый персонал
          span быстрая доставка
          span низкие цены
          span подарки покупателям
        .reviews-card-footer-item
          img(src="images/icons/minus-colored.svg" alt="plus")
          span Небольшой ассортимент электросамокатов
          span нет возможности оплатить через Webmoney
    .reviews-card
      .reviews-card-header
        .reviews-card-photo
          img(src="images/icon-user.png" alt="user")
        .reviews-card-name Степан
        .reviews-card-city (Москва)
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
      p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять<span class="dots">... </span><span class="all-text">. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять.</span><span class="show-all">Читать целиком</a>
      .reviews-card-footer
        .reviews-card-footer-item
          img(src="images/icons/plus-colored.svg" alt="plus")
          span Круглосуточная техническая подержка
          span вежливый персонал
          span быстрая доставка
          span низкие цены
          span подарки покупателям
        .reviews-card-footer-item
          img(src="images/icons/minus-colored.svg" alt="plus")
          span Небольшой ассортимент электросамокатов
          span нет возможности оплатить через Webmoney
    .reviews-card
      .reviews-card-header
        .reviews-card-photo
          img(src="images/icon-user.png" alt="user")
        .reviews-card-name Степан
        .reviews-card-city (Москва)
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
      p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять<span class="dots">... </span><span class="all-text">. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять.</span><span class="show-all">Читать целиком</a>
      .reviews-card-footer
        .reviews-card-footer-item
          img(src="images/icons/plus-colored.svg" alt="plus")
          span Круглосуточная техническая подержка
          span вежливый персонал
          span быстрая доставка
          span низкие цены
          span подарки покупателям
        .reviews-card-footer-item
          img(src="images/icons/minus-colored.svg" alt="plus")
          span Небольшой ассортимент электросамокатов
          span нет возможности оплатить через Webmoney
    .reviews-card
      .reviews-card-header
        .reviews-card-photo
          img(src="images/icon-user.png" alt="user")
        .reviews-card-name Степан
        .reviews-card-city (Москва)
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
        .rate
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star-o
      p В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять<span class="dots">... </span><span class="all-text">. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять. В целом всем доволен, буду советовать, но с гарантийными пломбами что-то нужно делать, либо клеить в места, не столь подверженные внешнему воздействию, либо сами пломбы менять.</span><span class="show-all">Читать целиком</a>
      .reviews-card-footer
        .reviews-card-footer-item
          img(src="images/icons/plus-colored.svg" alt="plus")
          span Круглосуточная техническая подержка
          span вежливый персонал
          span быстрая доставка
          span низкие цены
          span подарки покупателям
        .reviews-card-footer-item
          img(src="images/icons/minus-colored.svg" alt="plus")
          span Небольшой ассортимент электросамокатов
          span нет возможности оплатить через Webmoney
  include ../general/pagination