.item
  .item-header
    h1 Smart Balance Wheel Suv New 10.5 Premium
    .rate-wrapper
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
      .rate-text Рейтинг: 157,7
    .chooser-color
      .chooser-text Сортировка:
      .chooser-value по популярности
      ul
        li по имени
        li по стоимости
        li по дате добавления
        li по цвету
        li по размеру
    ul.item-params
      li
        img(src="images/icons/blue-microphone.svg" alt="params")
        span Музыка
      li
        img(src="images/icons/blue-smartphone.svg" alt="params")
        span Приложение
      li
        img(src="images/icons/blue-lamp.svg" alt="params")
        span Подсветка
      li
        img(src="images/icons/blue-bluetooth.svg" alt="params")
        span Bluetooth
      li
        img(src="images/icons/blue-smartphone.svg" alt="params")
        span Приложение
  .item-column
    .item-image
      .item-image-type.color-violet
        img(src="images/icons/white-percent.svg")
      .item-image-large
        img(src="images/product-large-1.jpg" alt="product")
        img(src="images/product-large-2.jpg" alt="product")
        img(src="images/product-large-3.jpg" alt="product")
        img(src="images/product-large-4.jpg" alt="product")
        img(src="images/product-large-5.jpg" alt="product")
      .item-image-small
        img(src="images/product-small-1.jpg" alt="product")
        img(src="images/product-small-2.jpg" alt="product")
        img(src="images/product-small-3.jpg" alt="product")
        img(src="images/product-small-4.jpg" alt="product")
        img(src="images/product-small-5.jpg" alt="product")
    ul.item-list
      li
        span.item-list-property Диаметр колес
        span.item-list-value 10,5"
      li
        span.item-list-property Мощность
        span.item-list-value 1200W (2х600)
      li
        span.item-list-property Время зарядки
        span.item-list-value 2-3 часа
      li
        span.item-list-property Вес
        span.item-list-value 15 кг
      li
        span.item-list-property Запас хода
        span.item-list-value 20 км
      li
        span.all-properties
  .item-column
    form.item-form
      .item-form-header
        .item-articul Артикул: 2288
        .item-brand Производитель: <a href="#">Smart Balance</a>
        .item-cost
          .item-cost-current 10 900 руб.
          .item-cost-old 22 000 руб.
          .item-cost-discount –50%
      .item-form-title Дополнительные опции
      .item-form-options
        .custom-checkbox
          input(type="checkbox" id="item-checkbox-1")
          label(for="item-checkbox-1")
            span Аквазащита
            strong + 2 000 руб.
        .custom-checkbox
          input(type="checkbox" id="item-checkbox-2")
          label(for="item-checkbox-2")
            span Мобильное приложение
            strong + 1 000 руб.
        .custom-checkbox
          input(type="checkbox" id="item-checkbox-3")
          label(for="item-checkbox-3")
            span Расширенная гарантия
            strong + 3 000 руб.
        .custom-checkbox
          input(type="checkbox" id="item-checkbox-4")
          label(for="item-checkbox-4")
            span Пожизненный сервис
            strong + 5 000 руб.
      .item-form-title Выберите подарок
      .chooser
        .chooser-value Шлем виртуальной реальности VRBox 2.0
        ul
          li.active Шлем виртуальной реальности VRBox 2.0
          li gift
          li present
          li nothing
          li китайский
        input(type="hidden" value="Шлем виртуальной реальности VRBox 2.0")
      .item-buttons
        a(href="#").item-to-basket
          span.item-buttons-image
            img(src="images/icons/basket.svg" alt="yandex")
          span.item-buttons-text в корзину
        a(href="#").item-fast-order
          span.item-buttons-image
            img(src="images/icons/target.svg" alt="yandex")
          span.item-buttons-text быстрый заказ
        .yandex-rate
          img(src="images/yandex-rate.jpg" alt="yandex")
    ul.item-delivery
      li
        img(src="images/icons/ok.svg" alt="delivery")
        strong Самовывоз
        span г. Санкт-Петербург , Басков переулок, д.26 , магазин "ElectroStreet"
      li
        img(src="images/icons/delivery.svg" alt="delivery")
        strong Доставка
        span Сегодня: курьером / самовывоз с нашего магазина (бесплатно)
      li
        img(src="images/icons/pocket.svg" alt="delivery")
        strong Оплата
        span Наличные, электронные деньги, Сбербанк, безналичная оплата
  .item-tab
    ul.item-tab-header
      li(data-tab="overview") Обзор
      li(data-tab="params") Характеристики
      li(data-tab="reviews") Отзывы
      li(data-tab="accessories") Аксессуары
    ul.item-tab-content
      li(data-tab="overview")
        p Данная модель гироскутеров появилась в 2016 г., но электро платы и <a href="#">аккумуляторная батарея Samsung</a> сделаны по новой технологии 2018 года, серия <strong>PREMIUM Smart Balance 6.5 Premium</strong> является уникальной для города. Модель очень проста в управлении, за счет важной функции самобалансировки гироскутер стал более устойчив. Хватает всего нескольких минут и вы будете ездить на гироскутере с уверенностью. Гироскутер заряжается от розетки, блок питания идет в комплекте. На гироскутере вы сможете проехать до 20 км развив максимальную скорость до 20 км/ч. Гироскутер оборудован фонарями, что дает возможность передвигаться комфортно в темное время суток. Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей. <strong>Гироскутер полностью доработан</strong>, в нем учли все слабые места гироскутеров прежних поколений и сделали его гораздо лучше и безопаснее. Система самобалансировки претерпела большие изменения и обновления, теперь вы можете спокойно покупать этот гироскутер ребенку у которого абсолютно нет опыта езды на гироскутере. Вы можете быть уверенны, что он его не скинет и не выключится на полном ходу. У <a href="#">гироскутера iBalance</a> высокий клиренс, благодаря чему Вы можете спокойно ездить по снегу, гравию, щебню, траве и песку. Встроенные ходовые огни позволят кататься в темное время суток, при движении встроенные фонари освещают путь до нескольких метров, и вы успеете затормозить или объехать препятствие. Чувствительные сенсоры автоматически распознают вес пользователя, и самостоятельно распределят мощность двигателей без потери производительности. Заряжается <strong>гироскутер iBalance 10.5</strong> всего несколько часов, и способен проехать до 20 км. Купить гироскутер iBalance 10.5 Красная молния вы можете в нашем магазине с доставкой до двери уже сегодня.
      li(data-tab="params")
        ul.item-list
          li
            span.item-list-property Диаметр колес
            span.item-list-value 10,5"
          li
            span.item-list-property Мощность
            span.item-list-value 1200W (2х600)
          li
            span.item-list-property Время зарядки
            span.item-list-value 2-3 часа
          li
            span.item-list-property Вес
            span.item-list-value 15 кг
          li
            span.item-list-property Запас хода
            span.item-list-value 20 км
      li(data-tab="reviews")
        p Данная модель гироскутеров появилась в 2016 г., но электро платы и <a href="#">аккумуляторная батарея Samsung</a> сделаны по новой технологии 2018 года, серия <strong>PREMIUM Smart Balance 6.5 Premium</strong> является уникальной для города. Модель очень проста в управлении, за счет важной функции самобалансировки гироскутер стал более устойчив. Хватает всего нескольких минут и вы будете ездить на гироскутере с уверенностью. Гироскутер заряжается от розетки, блок питания идет в комплекте. На гироскутере вы сможете проехать до 20 км развив максимальную скорость до 20 км/ч. Гироскутер оборудован фонарями, что дает возможность передвигаться комфортно в темное время суток. Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей. <strong>Гироскутер полностью доработан</strong>, в нем учли все слабые места гироскутеров прежних поколений и сделали его гораздо лучше и безопаснее. Система самобалансировки претерпела большие изменения и обновления, теперь вы можете спокойно покупать этот гироскутер ребенку у которого абсолютно нет опыта езды на гироскутере. Вы можете быть уверенны, что он его не скинет и не выключится на полном ходу. У <a href="#">гироскутера iBalance</a> высокий клиренс, благодаря чему Вы можете спокойно ездить по снегу, гравию, щебню, траве и песку. Встроенные ходовые огни позволят кататься в темное время суток, при движении встроенные фонари освещают путь до нескольких метров, и вы успеете затормозить или объехать препятствие. Чувствительные сенсоры автоматически распознают вес пользователя, и самостоятельно распределят мощность двигателей без потери производительности. Заряжается <strong>гироскутер iBalance 10.5</strong> всего несколько часов, и способен проехать до 20 км. Купить гироскутер iBalance 10.5 Красная молния вы можете в нашем магазине с доставкой до двери уже сегодня.
      li(data-tab="accessories")
        p Данная модель гироскутеров появилась в 2016 г., но электро платы и <a href="#">аккумуляторная батарея Samsung</a> сделаны по новой технологии 2018 года, серия <strong>PREMIUM Smart Balance 6.5 Premium</strong> является уникальной для города. Модель очень проста в управлении, за счет важной функции самобалансировки гироскутер стал более устойчив. Хватает всего нескольких минут и вы будете ездить на гироскутере с уверенностью. Гироскутер заряжается от розетки, блок питания идет в комплекте. На гироскутере вы сможете проехать до 20 км развив максимальную скорость до 20 км/ч. Гироскутер оборудован фонарями, что дает возможность передвигаться комфортно в темное время суток. Гироскутер iBalance 10.5 появился сравнительно недавно, но уже завоевал любовь и доверие покупателей. <strong>Гироскутер полностью доработан</strong>, в нем учли все слабые места гироскутеров прежних поколений и сделали его гораздо лучше и безопаснее. Система самобалансировки претерпела большие изменения и обновления, теперь вы можете спокойно покупать этот гироскутер ребенку у которого абсолютно нет опыта езды на гироскутере. Вы можете быть уверенны, что он его не скинет и не выключится на полном ходу. У <a href="#">гироскутера iBalance</a> высокий клиренс, благодаря чему Вы можете спокойно ездить по снегу, гравию, щебню, траве и песку. Встроенные ходовые огни позволят кататься в темное время суток, при движении встроенные фонари освещают путь до нескольких метров, и вы успеете затормозить или объехать препятствие. Чувствительные сенсоры автоматически распознают вес пользователя, и самостоятельно распределят мощность двигателей без потери производительности. Заряжается <strong>гироскутер iBalance 10.5</strong> всего несколько часов, и способен проехать до 20 км. Купить гироскутер iBalance 10.5 Красная молния вы можете в нашем магазине с доставкой до двери уже сегодня.