.product
	.wrapper-inner
		.section-header
			h2
				span Аксессуары
				span.section-header-value 257
		.product-list.slider-arrows
			.product-card
				a(href="#").product-card-image
					img(src="images/product-1.jpg" alt="product")
				h3
					a(href="#") Защитная лента для 1-го гироскутера
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 14 990 руб.
					.product-card-cost-old 17 000 руб.
					.product-card-cost-discount -27%
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-2.jpg" alt="product")
				h3
					a(href="#") Покрышка для гироскутера 10,5 дюймов
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 12 550 руб.
					.product-card-cost-old 14 000 руб.
					.product-card-cost-discount -17%
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-3.jpg" alt="product")
				h3
					a(href="#") Кофр жесткий для гироскутера 6,5‘ черный
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 27 000 руб.
					.product-card-cost-old 54 000 руб.
					.product-card-cost-discount -50%
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-4.jpg" alt="product")
				h3
					a(href="#") Зарядное устройство для гироскутера 2.0 А
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 10 500 руб.
					.product-card-cost-old 12 000 руб.
					.product-card-cost-discount -17%
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
			.product-card
				a(href="#").product-card-image
					img(src="images/product-3.jpg" alt="product")
				h3
					a(href="#") Электрические роликовые коньки Segway Drift W1 Silver
				.rate
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
					i.fa.fa-star-o
					i.fa.fa-star-o
				.product-card-cost
					.product-card-cost-value 27 000 руб.
					.product-card-cost-old 54 000 руб.
					.product-card-cost-discount -50%
				.product-card-order
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/basket.svg" alt="cart")
						span.product-card-order-text В корзину
					a(href="#")
						span.product-card-order-icon
							img(src="images/icons/target.svg" alt="cart")
						span.product-card-order-text быстрый заказ
