.wrapper-inner
    .breadcrumbs
        ul.breadcrumbs-list
            li.breadcrumbs-item
                a(href="#")
                    img(src="images/icon-house.png" alt="some text")
            li.breadcrumbs-item
                a(href="#") Каталог
            li.breadcrumbs-item Детская мебель
        .sharing
            img(src="images/image-sharing.png" alt="some text")
