.wrapper-inner
    .breadcrumbs
        ul.breadcrumbs-list
            li.breadcrumbs-item
                a(href="#") Главная
            li.breadcrumbs-item
                a(href="#") Каталог товаров
            li.breadcrumbs-item Электросамокаты
        .breadcrumbs-socials
            img(src="images/socials.png" alt="socials")
