footer.footer
	.footer-top
		.wrapper-inner
			.footer-column
				.footer-logo
					img(src="images/logo-footer.png" alt="Electro Scooter")
				.footer-data
					.footer-copyrights
						p
							strong © 2015-2019. Все права защищены
						p Electro-Skuter.ru. Интернет-магазин <a href="#">гироскутеров</a> и <a href="#">электросамокатов</a> в Москве
					form.footer-subscribe
						label(for="subscribe") Подпишитесь! Новинки, <br>скидки, предложения
						input(type="email" id="subscribe" placeholder="Ваш e-mail")
						button(type="submit")
							img(src="images/icons/white-mail.svg" alt="subscribe")
					.contacts
						.contacts-icon
							img(src="images/icons/contact.svg" alt="contacts")
						.contacts-row
							a(href="tel:+74954814037").contacts-phone +7 (495) 481-40-37
							span.contacts-text Заказы принимаются круглосуточно
						.contacts-row
							a(href="tel:+74954814039").contacts-phone +7 (495) 481-40-39
							ul.contacts-social
								li
									img(src="images/icon-telegram.png" alt="viber")
									a(href="#") Viber
								li
									img(src="images/icon-whatsapp.png" alt="whatsapp")
									a(href="#") Whatsapp
								li
									img(src="images/icon-telegram.png" alt="telegram")
									a(href="#") Telegram
					.address-hours
						.address-hours-icon
							img(src="images/icons/marker.svg" alt="data")
						a(href="#") г. Москва, пр. Волгоградский, д. 32, к. 8
						span 9:00 — 18:00 (Пн — Пт)
			.footer-column
				.footer-social
					span.footer-social-text Мы в социальных сетях
					ul
						li
							a(href="#")
								i.fa.fa-vk
						li
							a(href="#")
								i.fa.fa-youtube-play
						li
							a(href="#")
								i.fa.fa-instagram
				.yandex
					img(src="images/yandex.png" alt="yandex")
	.footer-bottom
		.wrapper-inner
			.footer-column
				.btn
					span.btn-icon
						img(src="images/icons/white-callback.svg" alt="callback")
					span.btn-text Обратный звонок
			.footer-column
				nav.footer-nav
					ul
						li
							a(href="#") Магазин
						li
							a(href="#") Доставка и оплата
						li
							a(href="#") Блог
						li
							a(href="#") Контакты
						li
							a(href="#").active Часто задаваемые вопросы
			.footer-promo
				p Обращаем Ваше внимание на то, что данный Интернет сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 Гражданского кодекса Российской Федерации. Информация, представленная на сайте, ни при каких условиях не должна рассматриваться как предложение, сделанное Продавцом какому-либо лицу. Продавец оставляет за собой право в любое время изменить данную информацию без предварительного уведомления.
