header.header
  .header-top
    .wrapper-inner
      .header-burger
      nav.header-nav
        ul.header-menu
          li.header-menu-item.has-children
            a(href="#").header-menu-link Магазин
            ul.header-submenu
              li.header-submenu-item
                a(href="#").header-submenu-link Доставка
              li.header-submenu-item
                a(href="#").header-submenu-link Самовывоз
              li.header-submenu-item
                a(href="#").header-submenu-link Оплата
              li.header-submenu-item
                a(href="#").header-submenu-link Гарантии
              li.header-submenu-item
                a(href="#").header-submenu-link Возврат товаров
          li.header-menu-item.has-children
            a(href="#").header-menu-link Доставка и оплата
            ul.header-submenu
              li.header-submenu-item
                a(href="#").header-submenu-link Доставка
              li.header-submenu-item
                a(href="#").header-submenu-link Самовывоз
              li.header-submenu-item
                a(href="#").header-submenu-link Оплата
              li.header-submenu-item
                a(href="#").header-submenu-link Гарантии
              li.header-submenu-item
                a(href="#").header-submenu-link Возврат товаров
          li.header-menu-item
            a(href="#").header-menu-link Блог
          li.header-menu-item
            a(href="#").header-menu-link Контакты
        .contacts
          .contacts-icon
            img(src="images/icons/contact.svg" alt="contacts")
          .contacts-row
            a(href="tel:+74954814037").contacts-phone +7 (495) 481-40-37
            span.contacts-text Заказы принимаются круглосуточно
          .contacts-row
            a(href="tel:+74954814039").contacts-phone +7 (495) 481-40-39
            ul.contacts-social
              li
                span.contacts-social-icon.icon-viber
                a(href="#") Viber
              li
                span.contacts-social-icon.icon-whatsapp
                a(href="#") Whatsapp
              li
                span.contacts-social-icon.icon-telegram
                a(href="#") Telegram
        .address-hours
          .address-hours-icon
            img(src="images/icons/marker.svg" alt="data")
          a(href="#") г. Москва, пр. Волгоградский, д. 32, к. 8
          span 9:00 — 18:00 (Пн — Пт)
      form.header-search
        input(type="search" placeholder="Например, электросамокаты MaxSpeed")
        button(type="submit")
          img(src="images/icons/search.svg" alt="search")
      a(href="#").header-cart
        span.header-cart-value 27
        span.header-cart-icon
          img(src="images/icons/basket.svg" alt="cart")
        span.header-cart-text Корзина
  .header-bottom
    .wrapper-inner
      .header-bottom-column
        .header-logo
          span.header-logo-icon
            img(src="images/logo.png" alt="Electro Scooter")
          span.header-logo-text Все самое лучшее только у нас
        .btn
          span.btn-icon
            img(src="images/icons/white-callback.svg" alt="callback")
          span.btn-text Обратный звонок
