extends ../layout/inner

block title
	| Catalog

block content
	.wrapper-inner
		.catalog
			include ../modules/components/catalog/catalog-aside
			include ../modules/components/catalog/catalog-content
	include ../modules/components/catalog/catalog-filter