extends ../layout/error-500

block title
	| Error 500

block content
	.page-error-content
		h1 Внутренняя ошибка 500 <br>(Internal Server Error)
		p Сайт временно недоступен или находится на профилактике. <br>Пожалуйста, загляните к нам попозже
		a(href="#").btn.btn-blue Перегрузить страницу
	.page-error-image
		img(src="images/error-500-image.jpg" alt="error 500")
