extends ../layout/index

block title
	| Main

block content
	.wrapper-row
		.wrapper-sidebar
			include ../modules/components/index/categories
		.wrapper-content
			include ../modules/components/index/hero
			include ../modules/components/index/advantages
	.wrapper-delimiter
	include ../modules/components/index/products-1
	.wrapper-delimiter.devices-only
	include ../modules/components/index/products-2
	.wrapper-delimiter.devices-only
	include ../modules/components/index/products-3
	include ../modules/components/index/promo
	.wrapper-delimiter.devices-only.m-0
	include ../modules/components/index/articles
	.wrapper-delimiter
	include ../modules/components/index/reviews
	.wrapper-delimiter
	include ../modules/components/index/certificates
