extends ../layout/inner

block title
  | Item

block content
  .wrapper-inner
    include ../modules/components/item/item
  .wrapper-delimiter
  .wrapper-inner
    include ../modules/components/item/products-1
    include ../modules/components/item/products-2