extends ../layout/inner

block title
	| Order

block content
	.wrapper-inner
		.order
			include ../modules/components/order/order-aside
			include ../modules/components/order/order-form
	include ../modules/components/order/order-list