.modal(data-modal="order")
  .order-list.modal-inner
    .order-list-title Ваш заказ
    .order-list-item
      .order-list-item-image
        img(src="images/product-1.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .order-list-item-cost 12 550 руб. <span>× 1</span>
    .order-list-item
      .order-list-item-image
        img(src="images/product-1.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .order-list-item-cost 12 550 руб. <span>× 1</span>
    .order-list-item
      .order-list-item-image
        img(src="images/product-1.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .order-list-item-cost 12 550 руб. <span>× 1</span>
    .order-list-item
      .order-list-item-image
        img(src="images/product-1.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .order-list-item-cost 12 550 руб. <span>× 1</span>
    ul.order-list-result
      li
        span.order-list-result-text Товаров
        span.order-list-result-value 7
      li
        span.order-list-result-text На сумму
        span.order-list-result-value 57 000 руб.
