h1 Оформление заказа
.article-table.order-table
  table
    tr
      th(colspan="3") Ваш заказ
    tr
      td
        .order-table-image
          img(src="images/product-1.jpg" alt="product")
      td
        h3
          a(href="#") Электромотоцикл RiverToys A001AA
        .order-table-cost 12 550 руб. <span>× 1</span>
      td
        span.color-text Цвет:
        ul.color-list
          li.color-yellow.active
        .cart-card-present Подарок: bluetooth-колонка
    tr
      td
        .order-table-image
          img(src="images/product-2.jpg" alt="product")
      td
        h3
          a(href="#") Беговел Star One Scooter (Черно-Желтый)
        .order-table-cost 7 000 руб. <span>× 2</span>
      td
        span.color-text Цвет:
        ul.color-list
          li.color-crimson.active
        .cart-card-present Подарок: Шлем виртуальной реальности VRBox 2.0
    tr
      td
        .order-table-image
          img(src="images/product-3.jpg" alt="product")
      td
        h3
          a(href="#") Беговел Star One Scooter (Черно-Желтый)
        .order-table-cost 12 550 руб. <span>× 1</span>
      td
        span.color-text Цвет:
        ul.color-list
          li.color-red.active
        .cart-card-present Подарок: Power Bank
    tr
      td(colspan="3")
        ul.order-result
          li
            span.order-result-text Товаров
            span.order-result-value 7
          li
            span.order-result-text На сумму
            span.order-result-value 57 000 руб.
form.order-form
  .order-form-fieldset
    .order-form-fieldset-header
      h3 Персональные данные
      span * поля, обязательные для заполнения
    .order-form-field-wrapper
      label.order-form-label(for="order-name") Имя *
      input(type="text" id="order-name" placeholder="Степан")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper
      label.order-form-label(for="order-lastname") Фамилия *
      input(type="text" id="order-lastname" placeholder="Иванов")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper
      label.order-form-label(for="order-phone") Телефон
      input(type="tel" id="order-phone" placeholder="+7 (___) ___-___-__")
      span.order-form-field-validation
        i.fa.fa-check
    .order-form-field-wrapper
      label.order-form-label(for="order-email") E-mail *
      input(type="text" id="order-email" placeholder="stepan@ivanov.ru" class="field-error" value="fhj577")
      span.order-form-field-validation
        i.fa.fa-check
      span.order-form-field-error Некорректный адрес e-mail!
  .order-form-fieldset
    .order-form-fieldset-header
      h3 Способ доставки
    .custom-radio
      input(type="radio" name="order-radio-delivery" id="order-radio-delivery-1")
      label(for="order-radio-delivery-1")
        span.custom-radio-value Самовывоз
    .custom-radio
      input(type="radio" name="order-radio-delivery" id="order-radio-delivery-2")
      label(for="order-radio-delivery-2")
        span.custom-radio-value Курьер
    .custom-radio
      input(type="radio" name="order-radio-delivery" id="order-radio-delivery-3")
      label(for="order-radio-delivery-3")
        span.custom-radio-value Транспортная компания
    .custom-radio
      input(type="radio" name="order-radio-delivery" id="order-radio-delivery-4")
      label(for="order-radio-delivery-4")
        span.custom-radio-value Почта России
  .order-form-fieldset
    .order-form-fieldset-header
      h3 Адрес доставки
      span * поля, обязательные для заполнения
    .order-form-field-wrapper
      .order-form-label Страна *
      .chooser
        .chooser-value Россия
        ul
          li.active Россия
          li по стоимости
          li по дате добавления
          li по цвету
          li китайский
        input(type="hidden" value="Россия")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper
      .order-form-label Область *
      .chooser
        .chooser-value Московская
        ul
          li.active Московская
          li по стоимости
          li по дате добавления
          li по цвету
          li китайский
        input(type="hidden" value="Московская")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper
      .order-form-label Район *
      .chooser
        .chooser-value Химкинский
        ul
          li.active Химкинский
          li по стоимости
          li по дате добавления
          li по цвету
          li китайский
        input(type="hidden" value="Химкинский")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper
      .order-form-label Город *
      .chooser
        .chooser-value Химки
        ul
          li.active Химки
          li по стоимости
          li по дате добавления
          li по цвету
          li китайский
        input(type="hidden" value="Химки")
      span.order-form-field-validation.filled
        i.fa.fa-check
    .order-form-field-wrapper.full-width
      label.order-form-label(for="order-address") Адрес *
      input(type="text" id="order-address" placeholder="ул. Вторая Советская, д. 95, кв. 757")
      span.order-form-field-validation.filled
        i.fa.fa-check
  .order-form-fieldset
    .order-form-fieldset-header
      h3 Способ оплаты
    .custom-radio
      input(type="radio" name="order-radio-payment" id="order-radio-payment-1")
      label(for="order-radio-payment-1")
        span.custom-radio-value Наличные курьеру
    .custom-radio
      input(type="radio" name="order-radio-payment" id="order-radio-payment-2")
      label(for="order-radio-payment-2")
        span.custom-radio-value Картой на сайте
    .custom-radio
      input(type="radio" name="order-radio-payment" id="order-radio-payment-3")
      label(for="order-radio-payment-3")
        span.custom-radio-value Картой курьеру
    .custom-radio
      input(type="radio" name="order-radio-payment" id="order-radio-payment-4")
      label(for="order-radio-payment-4")
        span.custom-radio-value Яндекс.Деньги/Visa/Mastercard
  .order-form-fieldset
    .order-form-fieldset-header
      h3 Комментарий к заказу
    textarea(placeholder="Просьба курьеру позвонить перед доставкой.")
  .order-form-footer
    button(type="submit").btn
      span.btn-text Оформить заказ
    a(href="#").btn.btn-grey
      span.btn-text Вернуться в корзину