.catalog-content
  h1 Электросамокаты
  .catalog-promo Стандартных недорогих самокатов действительно не мало, особенно — детских и для поклонников экстремального отдыха. Обычные самокаты развивают маленькую скорость и часто сделаны из не прочных материалов таких как пластмасса, и как правило они не долговечны.
  .chooser.catalog-brands
    .chooser-value Выберите подкатегорию
    ul
      li
        a(href="#") Yokamura
      li
        a(href="#") EcoDrift
      li
        a(href="#") IceWheel
      li
        a(href="#") SmartOne
      li
        a(href="#") Dualtron
      li
        a(href="#") E-twow
      li
        a(href="#") Kugoo
      li
        a(href="#") Ultron
      li
        a(href="#") City coco
      li
        a(href="#") Joyor
      li
        a(href="#") Citybike ET
      li
        a(href="#") Xiaomi
  .page-header
    .chooser
      .chooser-text Сортировка:
      .chooser-value по цене
      ul
        li по имени
        li по стоимости
        li по дате добавления
        li по цвету
        li по размеру
    .filter-pags
      span.filter-pags-text Товаров на странице:
      ul.filter-pags-list
        li.active 12
        li 30
        li все
  .catalog-list
    .product-card
      .product-card-type.color-red
        img(src="images/icons/white-star.svg" alt="product type")
      a(href="#").product-card-image
        img(src="images/product-2.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
    .product-card
      a(href="#").product-card-image
        img(src="images/product-3.jpg" alt="product")
      h3
        a(href="#") Электрические роликовые коньки Segway Drift W1 Silver
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
    .product-card
      .product-card-type.color-violet
        img(src="images/icons/white-percent.svg" alt="product type")
      a(href="#").product-card-image
        img(src="images/product-4.jpg" alt="product")
      h3
        a(href="#") Беговел Star One Scooter (Черно-Желтый)
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
    .product-card
      a(href="#").product-card-image
        img(src="images/product-1.jpg" alt="product")
      h3
        a(href="#") Электромотоцикл RiverToys A001AA
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
    .product-card
      .product-card-type.color-brown
        img(src="images/icons/white-tag.svg" alt="product type")
      a(href="#").product-card-image
        img(src="images/product-5.jpg" alt="product")
      h3
        a(href="#") Электрические роликовые коньки Segway Drift W1 Silver
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
    .product-card
      a(href="#").product-card-image
        img(src="images/product-6.jpg" alt="product")
      h3
        a(href="#") Беговел Star One Scooter (Черно-Желтый)
      .rate
        i.fa.fa-star
        i.fa.fa-star
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
      .product-card-cost
        .product-card-cost-value 14 990 руб.
        .product-card-cost-old 17 000 руб.
        .product-card-cost-discount -27%
      ul.product-card-data
        li
          .product-card-data-property Диаметр колес
          .product-card-data-value 10,5’
        li
          .product-card-data-property Мощность
          .product-card-data-value 1200W (2х600)
        li
          .product-card-data-property Время зарядки
          .product-card-data-value 2-3 часа
        li
          .product-card-data-property Цвета
          .product-card-data-value
            ul.color-list
              li.color-black
              li.color-green
              li.color-orange
              li.color-grey
      .product-card-order
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/basket.svg" alt="cart")
          span.product-card-order-text В корзину
        a(href="#")
          span.product-card-order-icon
            img(src="images/icons/target.svg" alt="cart")
          span.product-card-order-text быстрый заказ
  include ../../general/pagination
  .catalog-articles
    h2.catalog-articles-title Обзоры электросамокатов
    .catalog-articles-list
      .catalog-articles-item
        h3
          a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
        p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города...
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
      .catalog-articles-item
        h3
          a(href="#") Гироскутер стал более устойчив, хватает всего нескольких минут на обучение
        p На вашем гаджете должно быть установлено приложение ТаоТао, а также включен Bluetooth...
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
      .catalog-articles-item
        h3
          a(href="#") Купить гироскутер JiLong в Москве по выгодной цене
        p Данная модель гироскутеров появилась в 2018г. JiLong 10.5 Pro New является уникальной для города...
        time.date
          img(src="images/icons/calendar-grey.svg" alt="calendar")
          span 27.07.2018
      a(href="#").catalog-articles-link.link-decorated Все обзоры
  .catalog-banner
    img(src="images/banner.png" alt="banner")
  .catalog-promo У оборудования хороших марок часто бывают необычные дизайнерские решения, привлекающие внимание и позволяющие подчеркнуть индивидуальность. Например это электросамокат Xiaomi M365 Mijia, этот самокат появился довольно недавно, но прочно завоевал сердца любителей электротранспорта.
