@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap');

@font-face {
  font-family: 'Geometria Bold', sans-serif;
  src: url(../fonts/Geometria-Bold.ttf) format('truetype');
  font-display: swap;
}
