@mixin more-400 {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin more-576 {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin more-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin more-992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin more-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $color-black;
  opacity: 1;
}

@mixin dashed-border {
  background: linear-gradient(to right, #9da7a8 5px, transparent 5px) repeat-x left bottom;
  background-size: 11px 1px;
}

@mixin shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

@mixin link-dashed($color, $h-color) {
  text-decoration: none;
  position: relative;
  color: $color;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, $color 3px, transparent 3px) repeat-x;
    background-size: 5px 1px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include more-1200 {

    &:hover {
      color: $h-color;

      &:after {
        background: linear-gradient(to right, $h-color 3px, transparent 3px) repeat-x;
        background-size: 5px 1px;
      }

    }

  }

}

