$color-white: #fff;
$color-black: #000;
$color-green: #3cb363;
$color-green-text: #3aae61;
$color-blue: #2ba3de;
$color-blue-text: #1177aa;
$color-brown: #3c3c3c;
$color-dark: #23272a;
$color-light: #f5f7f7;

$font-title: 'Geometria Bold', sans-serif;
